.dummy {
  padding: 11vh 0;

  &::after {
    content: "";

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: url("@img/bg/01.svg") center / cover no-repeat;
  }

  @media (max-width: 46.5em) {
    padding: 13.8vh 0;

    &::after {
      background: url("@img/bg/02.svg") center / cover no-repeat;
    }
  }

  @media (max-width: 23.5em) {
    padding: 12vh 0;

    &::after {
      background: url("@img/bg/03.svg") center / cover no-repeat;
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo-wrap {
    margin-bottom: 6.3rem;

    width: 33.5rem;
    height: 33.5rem;

    @media (max-width: 46.5em) {
      margin-bottom: 14.4rem;
    }

    @media (max-width: 23.5em) {
      margin-bottom: 20rem;

      width: 30.2rem;
      height: 30.2rem;
    }
  }

  &__title {
    margin-bottom: 6rem;

    font-weight: 500;
    font-size: 5.6rem;
    line-height: 120%;
    letter-spacing: 0.13rem;
    text-align: center;

    @media (max-width: 46.5em) {
      margin-bottom: 8rem;

      letter-spacing: 0.15rem;
    }

    @media (max-width: 23.5em) {
      max-width: 50rem;

      font-size: 6.4rem;
    }
  }

  &__text {
    margin-bottom: 3rem;

    max-width: 65.9rem;

    font-size: 2.6rem;
    line-height: 120%;
    text-align: center;

    @media (max-width: 46.5em) {
      margin-bottom: 4rem;
    }

    @media (min-width: 46.55em) {
      letter-spacing: 0.04rem;
    }

    @media (max-width: 23.5em) {
      margin-bottom: 4.5rem;

      max-width: 57.9rem;

      font-size: 4rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.2rem;

    @media (max-width: 46.5em) {
      row-gap: 4.2rem;
    }

    @media (max-width: 23.5em) {
      row-gap: 5.2rem;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 120%;
    text-align: center;
    color: $red;

    @media (max-width: 23.5em) {
      font-size: 4rem;
    }
  }
}
