// -------------------------------- variables -------------------------------

// colors
$txtColor: #1f1f1f;
$bgColor: #eff0f4;
$red: #ee1b24;

// ---------------------------------- fonts ---------------------------------

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

// ------------------------------- base styles ------------------------------

// base scss file
@import "base/set";

// --------------------------------------------------------------------------

// sections
@import "sections/dummy";
